{
  "root": true,
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "extends": [
    "@nuxtjs"
  ],
  "rules": {
    "vue/max-attributes-per-line": "off"
  }
}
